@import 'https://fonts.googleapis.com/css?family=Montserrat:100,400,500';
@import 'https://fonts.googleapis.com/css?family=Anton';

body {
    color: #1c2826;
    font-family: "Montserrat", "Anton", "Arial", sans-serif;
    background: white;
    padding-top: 50px;
    background-color: #aeecef;
}

.container {
    position: relative;
    margin: 0;
    padding: 0 10%;
    width: 100%;
    background-color: #aeecef;
}


.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.flexbox-container > div {
    width: 50%;
    padding: 10px;
}

.flexbox-container > div:first-child {
    margin-right: 20px;
}

.caption {
    position:absolute;
    bottom:0;
}

#currentprods {
    height: 480px;
    border-style: solid;
    border-color: #d3d3d3;
    border-width:1px;
    border-radius: 5px;
    margin:20px;
}

.thumbnail {
    border:none;
}

.jumbotron {
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: url('/static/images/barcaport web.jpg') 100% 0 fixed, linear-gradient(rgba(58, 164, 255, 0.9), rgba(0, 103, 145, 0.9));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: contain;
}

.inside {
    position: relative;
    color: #555f61;
    font-size: 24px;
    font-weight: 300;
    left: 10%;
    top: 50%;
    width: 50%;
}

.h1 {
    font-weight: 300;
    font-size: 36px;
}

.h4 {
    font-weight: 300;
    font-size: 10;
    border-top-style: solid;
    border-top-width: 1;
    border-top-color: #555f61;
}

.btn {
    background-color: transparent;
    border-style: solid;
    border-width: 1;
    border-color: #555f61;
    color: #555f61;
    
}
.btn-space {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    background-color: #6d9dc5;
    color: white;
    border-color: #6d9dc5;
}

a.btn:hover {
    background-color: #3066be;
    color: whitesmoke;
    border-color: #3066be;
}

.navbar {
    background-color: white;
    color: #1c2826;
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
    
}

.navbar-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 0 0 1px;
}

.page-header {
    padding-bottom: 0px;
    border-width: 0 0 0px;
    background: white;
}

.container-idea-submission {
    text-align: center;
    padding: 100px 0 0 0;
}

.container-idea-submission h1 {
    font-size: 20px;
    font-family: Montserrat;
    text-transform: uppercase;
    color: #119da4;
}
.container-idea-submission h2 {
    font-size: 75px;
    font-family: Georgia;
}

.form-submission-table {
    padding:25px 25%;
}

.submission-table {
    text-align: left;
}

.success {
    margin-bottom: 200px;
    font-size: 20px;
    color:#555;
}

.submission-table td, th {
    padding: 5px 0;
}


.submission-table tr {
    border-bottom-style: solid;
    border-width:1px;
    border-color: lightgrey;
}

.jumbotron h1 {
    display:inline-block;
    color:#ffffff;
    font-family: Georgia;
    font-size: 70px;
}

.jumbotron h4 {
    display:inline-block;
    color:#ffffff;
    font-family:Montserrat;
    font-size:16px;
    text-transform: uppercase;
}

.btn-filled {
    background-color:#ffffff;
    color:#119da4;
    border-style:solid;
    border-width:1px;
    border-color:#ffffff;
}

a.btn-filled:hover {
    background-color: rgba(255,255,255,0.8);
    border-style: solid;
    color:#119da4;
    border-color:#ffffff;
    border-width:1px;
}

.navbar-brand {
    height:24px;
}

.social-icon {
    color: white;
}
